<div class="edu-widget edu-widget-row row-fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="edu-cell col-sm-3">
        <div class="edu-widget edu-widget-container
          edu-container_footer_57741182">
          <div class="edu-widget edu-widget-spacer edu-preset-default
            edu-spacing-top-small edu-spacing-right-auto
            edu-spacing-bottom-auto edu-spacing-left-auto">
            <div class="edu-widget-spacer-block"></div>
          </div>
          <div class="edu-widget edu-widget-text edu-preset-default
            edu-spacing-top-medium edu-spacing-right-auto
            edu-spacing-bottom-auto edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_117 text-center">
                <%= link_to t("app_name"), root_path, class: "edu-link" %>
              </p>
            </div>
          </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-auto edu-spacing-right-auto
          edu-spacing-bottom-medium edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_120 text-center">
                <%= link_to t("app_name"), root_path, class: "edu-link" %>
              </p>
            </div>
        </div>
      </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-auto edu-spacing-right-auto
          edu-spacing-bottom-small edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_normal text-center"><%= t("body-1") %></p>
            </div>
        </div>
      </div>
      <div class="edu-cell col-sm-2">
        <div class="edu-widget edu-widget-spacer
          edu-preset-default edu-spacing-top-medium edu-spacing-right-auto
          edu-spacing-bottom-small edu-spacing-left-auto">
          <div class="edu-widget-spacer-block"></div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-large edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
          <div class="edu-widget-text-content edu-widget-text-editable">
            <p class="edu-text_117"><%= t("information") %></p>
          </div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-small edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_122">
                <%= link_to t("app_name"), root_path, class: "edu-link" %>
              </p>
            </div>
        </div>
      </div>
      <div class="edu-cell col-sm-2">
        <div class="edu-widget edu-widget-spacer
          edu-preset-default edu-spacing-top-medium edu-spacing-right-auto
          edu-spacing-bottom-small edu-spacing-left-auto">
          <div class="edu-widget-spacer-block"></div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-large edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
          <div class="edu-widget-text-content edu-widget-text-editable">
            <p class="edu-text_117"><%= t("information") %></p>
          </div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-small edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_122">
                <%= link_to t("app_name"), root_path, class: "edu-link" %>
              </p>
            </div>
        </div>
      </div>
      <div class="edu-cell col-sm-2">
        <div class="edu-widget edu-widget-spacer
          edu-preset-default edu-spacing-top-medium edu-spacing-right-auto
          edu-spacing-bottom-small edu-spacing-left-auto">
          <div class="edu-widget-spacer-block"></div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-large edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
          <div class="edu-widget-text-content edu-widget-text-editable">
            <p class="edu-text_117"><%= t("information") %></p>
          </div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-small edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
            <div class="edu-widget-text-content edu-widget-text-editable">
              <p class="edu-text_122">
                <%= link_to t("app_name"), root_path, class: "edu-link" %>
              </p>
            </div>
        </div>
      </div>
      <div class="edu-cell col-sm-2">
        <div class="edu-widget edu-widget-spacer
          edu-preset-default edu-spacing-top-medium edu-spacing-right-auto
          edu-spacing-bottom-small edu-spacing-left-auto">
          <div class="edu-widget-spacer-block"></div>
        </div>
        <div class="edu-widget edu-widget-text edu-preset-default
          edu-spacing-top-large edu-spacing-right-auto edu-spacing-bottom-small
          edu-spacing-left-auto">
          <div class="edu-widget-text-content edu-widget-text-editable">
            <p class="edu-text_117"><%= t("information") %></p>
          </div>
          <div class="edu-widget edu-widget-text edu-preset-default
            edu-spacing-top-small edu-spacing-right-auto edu-spacing-bottom-small
            edu-spacing-left-auto">
              <div class="edu-widget-text-content edu-widget-text-editable">
                <p class="edu-text_122">
                  <%= link_to t("app_name"), root_path, class: "edu-link" %>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
