<header class="header edu-section" id="section-header">
  <div class="edu-widget edu-widget-container edu-container_header_546f07b9">
    <div class="edu-widget edu-widget-spacer edu-preset-default
      edu-spacing-top-auto edu-spacing-right-auto
      edu-spacing-bottom-small edu-spacing-left-auto">
      <div class="edu-widget-spacer-block"></div>
    </div>
    <div class="edu-widget edu-widget-row row-fixed">
      <div class="container-fluid">
        <div class="row">
          <div class="edu-cell col-sm-3">
            <div class="edu-widget
              edu-widget-container edu-container_header_5773edf8">
              <div class="edu-widget-text-content edu-widget-text-editable">
                <p class="edu-text_system_1 text-center">
                  <%= link_to t("app_name"), root_path, title: t("app_name") %>
                </p>
              </div>
              <div class="edu-widget edu-widget-text edu-preset-default
                edu-spacing-top-auto edu-spacing-right-auto
                edu-spacing-bottom-small edu-spacing-left-auto">
                <div class="edu-widget-text-content edu-widget-text-editable">
                  <p class="edu-text_system_2 text-center">
                    <%= link_to t("title"), root_path %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="edu-cell col-sm-7">
            <div class="edu-widget edu-widget-row row-gutter-0">
              <div class="container-fluid">
                <div class="row">
                  <div class="edu-cell col-sm-6">
                    <div class="edu-widget edu-widget-row">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="edu-cell col-xs-2">
                            <div class="edu-widget edu-widget-image
                              edu-preset-default
                              edu-align-right edu-spacing-top-medium
                              edu-spacing-right-auto edu-spacing-bottom-auto
                              edu-spacing-left-auto ">
                              <div class="edu-widget-image-link">
                              <span class="header-icon-size
                                edu-widget-image-picture fa fa-mobile">
                              </span>
                              </div>
                            </div>
                          </div>
                          <div class="edu-cell col-xs-10">
                            <div class="edu-widget edu-widget-text
                              edu-preset-default edu-spacing-top-medium
                              edu-spacing-right-auto
                              edu-spacing-bottom-auto edu-spacing-left-small">
                              <div class="edu-widget-text-content
                                edu-widget-text-editable">
                                <p class="edu-text_system_10">
                                  <%= t "call_me"%>
                                </p>
                              </div>
                            </div>
                            <div class="edu-widget edu-widget-text
                              edu-preset-default edu-spacing-top-auto
                              edu-spacing-right-auto
                              edu-spacing-bottom-auto edu-spacing-left-small">
                                <div class="edu-widget-text-content
                                  edu-widget-text-editable">
                                  <p class="edu-text_119">
                                    <%= link_to Settings.telephone, root_path,
                                      class: "edu-link" %>
                                  </p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="edu-cell col-sm-6">
                    <div class="edu-widget edu-widget-row">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="edu-cell col-xs-2">
                            <div class="edu-widget edu-widget-image
                              edu-preset-default edu-align-right
                              edu-spacing-top-medium edu-spacing-right-auto
                              du-spacing-bottom-auto edu-spacing-left-auto">
                              <div class="edu-widget-image-link">
                                <i class="header-icon-size fa
                                  fa-location-arrow" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="edu-cell col-xs-10">
                            <div class="edu-widget edu-widget-text
                              edu-preset-default edu-spacing-top-medium
                              edu-spacing-right-auto edu-spacing-bottom-auto
                              edu-spacing-left-small">
                              <div class="edu-widget-text-content
                                edu-widget-text-editable">
                                <p class="edu-text_system_10">
                                  <%= Settings.address %>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="edu-cell col-sm-2">
            <div class="edu-widget edu-widget-store_cart_and_profile
              edu-preset-default edu-align-right
              edu-align-center_mobile-h edu-widget-empty
              edu-spacing-top-small edu-spacing-right-auto
              edu-spacing-bottom-auto edu-spacing-left-auto ">
              <ul class="edu-widget-store_cart_and_profile-container">
                <li class="edu-widget-store_cart_and_profile-item">
                  <%= link_to root_path,
                    class: "edu-widget-store_cart_and_profile-link" do %>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="edu-widget-store_cart_and_profile-text
                      edu-text_system_10">
                        (<span class="ng-binding">0</span>)
                    </span>
                  <% end %>
                </li>
                <li class="edu-widget-store_cart_and_profile-item">
                  <%= link_to root_path,
                    class: "edu-widget-store_cart_and_profile-link" do %>
                    <i class="fa fa-user"></i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="edu-widget edu-widget-divider edu-preset-default
      edu-spacing-top-small edu-spacing-right-auto
      edu-spacing-bottom-auto edu-spacing-left-auto edu-align-left">
      <hr class="edu-widget-divider-line">
    </div>
    <div class="edu-widget edu-widget-container
      edu-container_header_57740c93 edu-sticky__bootstrapped" >
        <div class="edu-widget edu-widget-row row-fixed">
          <div class="container-fluid">
            <div class="row">
              <div class="edu-cell col-sm-8">
                <div class="edu-widget edu-widget-menu edu-preset-default
                  edu-align-left edu-align-center_mobile-h
                  edu-spacing-top-small edu-spacing-right-auto
                  edu-spacing-bottom-auto edu-spacing-left-auto">
                  <span class="edu-widget-menu-toggle-btn" href="#">
                    <i class="edu-widget-menu-toggle-btn-icon fa fa-bars"></i>
                  </span>
                  <ul class="edu-widget-menu-list
                    edu-widget-menu-list_horizontal">
                    <li class="edu-widget-menu-item">
                      <%= link_to t("home"), root_path,
                        class: "edu-widget-menu-link
                        edu-widget-menu-link-level-1 edu-link" %>
                    </li>
                    <li class="edu-widget-menu-item">
                        <%= link_to root_path, class: "edu-widget-menu-link
                          edu-widget-menu-link-level-1
                          edu-widget-menu-link-submenu edu-link" do %>
                          <%= t "home" %>
                          <span class="fa edu-widget-menu-link-arrow"></span>
                        <% end %>
                      <ul class="edu-widget-menu-sublist">
                        <li class="edu-widget-menu-item">
                          <%= link_to t("home"), root_path,
                            class: "edu-widget-menu-link
                            edu-widget-menu-link-level-1 edu-link" %>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            <div class="edu-cell col-sm-4">
              <div lass="edu-widget edu-widget-spacer edu-preset-default
                edu-spacing-top-small edu-spacing-right-auto
                edu-spacing-bottom-auto edu-spacing-left-auto">
                <div class="edu-widget-spacer-block"></div>
              </div>
              <div class="edu-widget edu-widget-store_search edu-preset-default
                edu-spacing-top-small edu-spacing-right-auto
                edu-spacing-bottom-small edu-spacing-left-auto ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="edu-widget edu-widget-spacer edu-preset-default
        edu-spacing-top-small edu-spacing-right-auto
        edu-spacing-bottom-auto edu-spacing-left-auto">
        <div class="edu-widget-spacer-block">
        </div>
      </div>
    </div>
    <div class="edu-sticky-pseudo-element"></div>
  </div>
</header>
