<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "title_logo.png" %>
  <%= render "layouts/shim" %>
</head>
<body class="edu-background_2">
  <div class="page">
    <%= render "layouts/app/header" %>
    <section id="section-content" class="content page-43 edu-section">
      <%= yield %>
    </section>
    <%= render "layouts/app/footer" %>
  </div>
</body>
</html>
